@media (min-width: 1055px) {
    #table-of-contents {
	position: fixed;
	top: 10%;
	left: 1%;
	width: 15%;
    }
}

body {
    background-color: #eeeeee;
}


#content {
    position: relative;
    width: 50%;
    left: 25%;
}

.outline-2 {
    margin-top: 7%;
    padding: 5%;
    background-color: #fff;
}

.outline-2 img {
    max-width: 100%;
}

#table-of-contents > h2 {
  /*display: none;*/
}
#table-of-contents ul {
  font-size: 1.4em;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#table-of-contents ul ul {
  border-top: 1px solid #ccc;
  font-size: .9em;
  padding-left: 5%;
}
#table-of-contents li {
  font: 200 .9em Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
  padding-bottom: 2px;
}

#table-of-contents li:last-child {
  border: none;
}

#table-of-contents li a {
  text-decoration: none;
  color: #000;
  display: inline-block;
  width: 85%;
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

#table-of-contents li a:hover {
  background: #f6f6f6;
  font-weight: bold;
}

a.toc-toggle {
  float: right;
  color: #668;
}

#table-of-contents li a.toc-toggle {
  display: inline;
  width: 12%;
  color: #668;
  text-align: right;
}